/* cores */

$cor-primaria: #222;
$cor-secundaria: #f4f4f4;
$cor-acento: #0077ff;

/* tipografia */

$fonte-principal: Arial, Helvetica, sans-serif;

/* espaçamentos */

$espacamento: 2rem;
$espacamento-pequeno: $espacamento / 2;
